body {
  font-family: Arial;
  background: #0f2027;
  color: white;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.center {
  text-align: center;
  margin-top: 15%;
}

input, button {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
}

button, .btn {
  background: #2196f3;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.mcq {
  background: #1c1c1c;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
}
