* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f1f5ff;
}

header {
  background: #1e40af;
  color: white;
  padding: 20px;
  text-align: center;
}

.switch button {
  padding: 15px 30px;
  font-size: 18px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.panel {
  display: none;
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

h2 {
  font-size: 30px;
}

input, textarea, select {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  margin: 10px 0;
}

textarea {
  height: 100px;
}

button {
  width: 100%;
  padding: 18px;
  font-size: 20px;
  margin-top: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

#mcqBox {
  display: none;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 15px;
  border-radius: 12px;
}

@media (max-width: 600px) {
  button {
    font-size: 18px;
  }
}
